@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #e7e7e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --terna-arte-gradient: linear-gradient(to bottom right, #f08fb1 0%,
   #8edcf1 25%, #f08fb1 50%, #ffea8d 75%, #8edcf1 100%);
}

/* Gradient based on the brand color */
.terna-arte-gradient{
  border: 0.5rem solid transparent;
  background-image: linear-gradient(#fff7fa, #fff7fa),
                    var(--terna-arte-gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* * Wallpaper */
.wallpaper{
  position: fixed;
  background-image: url('./images/wallpaper.png');
  background-repeat: no-repeat;
  background-position: top right;
  filter: blur(3.14px);
}

/* Outlines */
.socialicons {
  position: flex;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: 1px 1px 1px 1px;
  mask-size: contain;
}

.instagram {
  mask-image: url('./images/instagram.png');
}

.facebook {
  mask-image: url('./images/facebook.png');
}

.whatsapp {
  mask-image: url('./images/whatsapp.png');
}

.logo {
  mask-image: url('./assets/ternaarte.png');
  border: 6px solid transparent !important;
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: 1px 1px 1px 1px;
  mask-size: contain;
  background-image: linear-gradient(to right, #8edcf1 0%, #f08fb1 25%, #ffea8d 75%, #8edcf1 100%);
}
